doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{student.first_name} #{student.last-name}
    body 
        p First name: #{student.first_name}
        p Last name: #{student.last-name}
        p Age: #{student.age}
        p Phone: #{student.phone}
        p Address:#{student.address}